body {
	margin: 0;
	font-family: Arial, sans-serif;
}
/*		Header		*/
.header {
	max-height: 78px;
	background-color: #01983b;
}
.l-container {
	max-width: 980px;
	padding: 0 10px 0 10px;
	margin: 0 auto;
}
.menu {
	text-transform: uppercase;
	list-style-type: none;
	margin: 0;
	padding: 0;
	height: 78px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.menu__home {}
.menu__about {}
.menu__vacancies {}
.menu__products {}
.menu__photo {}
.menu__news {}
.menu__articles {}
.menu__contacts {}
.menu__link {
	text-decoration: none;
	color: #fff;
}
.menu__link:hover{
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
	padding: 5px 0;
}
.menu__link:active {
	border-top: 2px solid #fff;
	border-bottom: 2px solid #fff;
	padding: 5px 0;
}
/*		Блок слайдер	*/
.main {}
.block-slider {
	height: 720px;
	background-image: url(../images/art_museum.jpg);
	background-position-y: bottom;
	background-size: cover;
}
.slider-container {
	padding-top: 36px;
	position: relative;
}
.slider-container__header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 16px;
}
.slider-container__logo {}
.slider-container__contact {}
.social {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 5px;
}
.social__text {
	text-transform: uppercase;
	color: #01983b;
	font-size: 12px;
	align-self: center;
	margin-right: 10px;
}
.social__link {
	margin-right: 5px;
	height: 21px;
}
.social__link:last-child {
	margin-right: 0;
}
.phone {}
.mail {
	margin-bottom: 3px;
}
.phone__link,.mail__link {
	text-decoration: none;
	color: #2c2783;
	font-weight: bold;
}
.phone__link:hover,
.mail__link:hover{
	text-decoration: underline;
}
.phone__link:active,
.mail__link:active{
	color: #000 ;
}
.search{
	display: flex;
}
.search__square {
	flex-grow: 1;
	margin-right: 10px;
	border: 0;
	border-bottom: 1px solid rgba(44, 39, 131, 0.4);
}
.search__btn {
	vertical-align: middle;
	border: none;
	padding: 0;
	background: none;
	cursor: pointer;
}
/*		Слайдер		*/
.slider{
	position: relative;
	overflow: hidden;
	width: 100%;
}

.slider__items{
	display: flex;
	transition: transform 0.6s ease;
}
.slider__item{
	height: 493px;
	width: 100%;
	position: relative;
	flex: 0 0 100%;
}
.slider__item_inner {
	position: absolute;
	top: 317px;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.3);
	padding: 30px 55px 8px 25px;
}
.slider__item_title {
	font-family: EuropeExt, Arial, sans-serif;
	font-size: 30px;
	text-transform: uppercase;
	margin-bottom: 10px;
}
.slider__items_description {
	font-family: EuropeExt, Arial, sans-serif;
	font-weight: bold;
	font-size: 24px;
	text-transform: uppercase;
	letter-spacing: 0.3px;
}
   /* стили для кнопок "вперед" и "назад" */
.slider__control {
	position: absolute;
	top: 40%;
	align-items: center;
	justify-content: center;
	width: 35px;
	opacity: 0.8;
	height: 82px;
	background: rgba(0, 0, 0, 0.5);
}
.slider__control_show {
	display: flex;
}
.slider__control:hover,
.slider__control:focus {
	color: #fff;
	text-decoration: none;
	outline: 0;
	opacity: 0.9;
}
.slider__control_prev {
	left: 0;
}
.slider__control_next {
	right: 0;
}
.slider__control::before {
	content: '';
	display: inline-block;
	width: 20px;
	height: 20px;
	background: transparent no-repeat center center;
	background-size: 100% 100%;
}
.slider__control_prev::before {
background-image: url(../images/svg/shevron-left.svg);
}
.slider__control_next::before {
background-image: url(../images/svg/shevron-right.svg);
}
/* стили для индикаторов */
.slider__indicators {
	list-style: none;
	position: absolute;
	bottom: 13px;
	left: 0;
	display: flex;
	padding: 0 0 0 20px;
	margin: 0;
}
.slider__indicators li {
	flex: 0 1 auto;
	width: 34px;
	height: 13px;
	margin-right: 0px;
	margin-left: 3px;
	cursor: pointer;
	background-color: #fff;
}

.slider__indicators li.active {
	background-color: #01983b;
}
.block-slider__shadow{
	background-image: url(../images/slider-shadow.png);
	max-width: 1335px;
	height: 88px;
	margin: 0 auto;
	background-position-y: -519px;
	background-position-x: -16px;
}
/*		Блок видео		*/
.block-video {
	background-image: url(../images/bg-frame.jpg);
	background-repeat: no-repeat;
	padding-top: 60px;
	position: relative;
	margin-bottom: 21px;
}
.brand {
	text-align: center;
	text-transform: uppercase;
	font-family: EuropeExt, Arial, sans-serif;
	font-weight: bold;
	font-size: 41.5px;
	margin-bottom: 10px;
}
.brand__logo {}
.brand__nova {
	color: #01983b;
	margin-left: -6px;
}
.brand__board {
	color: #2c2783;
}
.block-video__title {
	font-family: EuropeExt, Arial, sans-serif;
	font-weight: bold;
	font-size: 30px;
	text-transform: uppercase;
	color: #073d79;
	text-align: center;
	margin-bottom: 16px;
	letter-spacing: 0.9px;
}
.wrapper-iframe{
	text-align: center;
	position: relative;
	margin-bottom: 55px;
}
.wrapper-iframe::after{
	content: url(../images/shadow-iframe.png);
	position: absolute;
	top: 294px;
	left: 87px;
}
.block-video__content {
	font-size: 14px;
	text-align: center;
	padding: 0 74px 0;
	margin-bottom: 61px;
	color: #0a274d;
}
.block-video__item {
	margin-bottom: 20px;
}
.block-video__btn {
	width: 405px;
	height: 52px;
	font-family:EuropeExt, Arial, sans-serif;
	font-size: 24px;
	font-weight: bold;
	color: #fff;
	text-transform: uppercase;
	background: linear-gradient(to bottom,#01b84d,#017527);
	border: none;
	border-radius: 4px;
	display: block;
	margin: 0 auto 14px;
	padding: 0;
	box-shadow: 0px 2px 10px 0px #000;
}
.block-video__btn:hover{
	transform: rotateX(30deg);
	transition: 0.3s;
	cursor: pointer;
	box-shadow: 0px 5px 17px 2px #000;
}
.block-video__btn:active{
transition: 0.3s;
cursor: pointer;
box-shadow: inset 0px 0px 15px 3px #054818;
color: #2c2783;
}
/*		Block Application 		*/
.application {
	background-image: url(../images/bg-application.jpg);
	background-position-y: -50px;
	padding-top: 50px;
	margin-bottom: 50px;
}
.application__wrapper {
	max-width: 1225px;
	margin: 0 auto;
}
.application__title {
	text-align: center;
	text-transform: uppercase;
	font-family: EuropeExt, Arial, sans-serif;
	font-weight: bold;
	font-size: 30px;
	color: #073d79;
	margin-bottom: 30px;
}
.application__items {
	display: flex;
	justify-content: space-between;
	margin-bottom: 69px;
}
.application-item {
	width: 610px;
	height: 308px;
	background-image: url(../images/bg-application-item-1.jpg);
	position: relative;
}
.application-item--bg1{
	background-image: url(../images/bg-application-item-1.jpg);
}
.application-item--bg2{
	background-image: url(../images/bg-application-item-2.jpg);
}
.application-item__title {
	font-size: 24px;
	color: #fff;
	text-transform: uppercase;
	text-align: end;
	margin: 18px 47px 15px;
}
.title--mirror{
	text-align: start;
}

.application-item__list {
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.list--mirror{
	align-items: flex-start;
}
.application-item__item {
	background-color: rgba(1, 152, 59, 0.5);
	margin-bottom: 6px;
	padding: 0 0 0 47px;
	position: relative;
}
.application-item__link{
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	color: #fff;
	background-color: #01983b;
	padding: 1px 45px;
	display: block;
}
.list--mirror .application-item__item{
	padding: 0 47px 0 0;
}

.application-item__link::before{
	content: "";
	 width: 45px;
	 height: 100%;
	 background-color: rgba(1, 152, 59, 0.2);
	 position: absolute;
	 right: 100%;
	 bottom: 0;
}
.list--mirror .application-item__link::before{
	content: "";
	left: 100%;
}
.application-item__logo {
	background-color: rgba(255, 255, 255, 0.2);
	padding: 4px 0;
	position: absolute;
	bottom: 0px;
	display: flex;
	width: 100%;
	justify-content: flex-end;
}
.logo--mirror{
	justify-content: flex-start;
}
.application-item__image{
	margin: 0 50px;
}
.cotegories {
	display: flex;
	justify-content: space-between;
	padding: 0 62px;
}
.cotegory {
	position: relative;
	width: min-content;
}
.cotegory:nth-child(even){
	margin-top: 48px;
}
.cotegory__rhomb {
	height: 133px;
	width: 133px;
	border: 8px solid #019e41;
	border-radius: 25px;
	transform: rotate(45deg);
	background-color: #f2f5f7;
	box-shadow: inset -1px -1px 0px 4px rgba(0, 0, 0, 0.1);
}
.cotegory__image1 {
	position: absolute;
	left: 11px;
	top: 14px;
}
.cotegory__image2 {
	position: absolute;
	left: 16px;
	top: 18px;
}
.cotegory__image3 {
	position: absolute;
	left: 16px;
	top: 16px;
}
.cotegory__image4 {
	position: absolute;
	left: -6px;
	top: 19px;
}
.cotegory__image5 {
	position: absolute;
	left: 8px;
	top: 14px;
}
.cotegory__image6 {
	position: absolute;
	left: -2px;
	top: 41px;
}
.cotegory__title {
	text-transform: uppercase;
	font-size: 14px;
	color: #01983b;
	text-align: center;
	padding-top: 27px;
}
/*		Block Description 	*/
.description {}
.wrapper-description {
	max-width: 1212px;
	margin: 0 auto;
	border: 3px solid #e6ecf4;
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.6);
	padding-top: 51px;
}
.description__title {
	font-family: EuropeExt,Arial,sans-serif;
	font-weight: bold;
	font-size: 30px;
	text-transform: uppercase;
	color: #01983b;
	text-align: center;
	margin: -9px 0 22px;
}
.description__table {
	margin: 0 auto;
	border: 3px solid #d5dfec;
	border-collapse: collapse;
	border-radius: 7px;
	font-size: 14px;
	color: #043567;
	width: 980px;
}
.row--counts{
	text-transform: uppercase;
	font-weight: bold;
	color: #fff;
	background-color: #01983b;
}
.description__count{}
.description__row:nth-child(even) {
	background-color: #f2f5f7;
}
.description__col {
	border: 1px solid #d5dfec;
	padding: 11px 10px;
	text-align: center;
}
.description__col:first-child{
	text-align: start;
}
.description__shadow {
	width: 100%;
	height: 57px;
	background-image: url(../images/shadow-description.png);
	background-position-y: -18px;
	background-repeat: no-repeat;
}
/*		Footer 		*/
.footer{
	height: 312px;
	background-color: #01983b;
}